/* Estilos generales */
.video-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrar verticalmente */
}

.h4 {
  color: white;
  font-weight: bold;
}

.youtube-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10%;
  border-radius: 15px;
  height: 360px; /* Cambiado de porcentaje a píxeles */
  width: 640px; /* Cambiado de porcentaje a píxeles */
}

.container-title-video {
  text-align: center;
  margin-bottom: 20px;
}

.video-title {
  color: #ffff;
  padding: 3%;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .video-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .youtube-player {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10%;
    border-radius: 15px;
    height: 0;
    margin-left: 30%;
    padding-bottom: 56.25%; /* Proporción para mantener el aspecto del video (16:9) */
    width: 10%; /* Ajusta el ancho del reproductor en dispositivos móviles */
  }
}
