* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'UniversLTStd',Arial, sans-serif ;
}
.youtube-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Ajusta la altura para centrar verticalmente */
  background-color: black;
 
 
  
}
.container-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  margin-top: -5%;
  margin-bottom: 3%;
 
}

.video-title {
  color: #ffff;
  

  /* Otros estilos de letra si es necesario */
}
.footer-container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.footer{
  color: #ffff;
}
@media  (max-width: 390px) {
  .container-video{
    width:90%;
    height: 50%;
  }
  .youtube-container {
    max-width: 100%; /* Ajusta el ancho máximo para dispositivos móviles */
  }
  .container-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    margin-top: -25%;
    margin-bottom: 3%;
   
  }
  .video-title {
    font-size: 100%; /* Cambia el tamaño de la letra para dispositivos móviles */
    /* Otros estilos si es necesario */
  }

  .footer {
    font-size: 12px; /* Cambia el tamaño de la letra para dispositivos móviles */
    /* Otros estilos si es necesario */
  }
}







/* Estilos generales 
.container-video-text{
  display: flex;
  background-color: black;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.video-container {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrar verticalmente 
  
}




.youtube-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10%;
  border-radius: 15px;
  height: 360px; /* Cambiado de porcentaje a píxeles 
  width: 640px; /* Cambiado de porcentaje a píxeles 
}

.container-title-video {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  
}



/* Estilos para dispositivos móviles 
@media (max-width: 390px) {
  .video-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .youtube-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10%;
    border-radius: 15px;
    height: 0;
    padding-bottom: 56.25%; /* Proporción para mantener el aspecto del video (16:9) 
    width: 40%; /* Ajusta el ancho del reproductor en dispositivos móviles 
  }
  
  .container-title-video {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }
  
  .youtube-responsive {
    display: flex;
    width: 90%; /* Ajusta el ancho del contenedor responsive 
  }
}