* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'UniversLTStd',Arial, sans-serif ;
  }
  .container-werun{
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
  .card-werun{
    display: flex;
    background-color: 
  }