* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'UniversLTStd',Arial, sans-serif ;
  }
  h3{
    font-family: 'UniversLTStd',Arial, sans-serif ;
    color: #ffff;
    font-size: 80%;
   
  }
  
   .container-pegasus{
    display: flex;
    background-image: linear-gradient(175deg, #ffad78 0, #ffa278 8.33%, #ff977a 16.67%, #ff897c 25%, #ff7b7f 33.33%, #ff6b82 41.67%, #ff5a87 50%, #f6498d 58.33%, #ec3a96 66.67%, #df2fa0 75%, #cf2bab 83.33%, #bd2db7 91.67%, #a834c3 100%);
    color: #ffff;
    font-weight: bold;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    text-align: center;
    width: 100%;
  
  flex-direction: column;
   }
   .image-pegasus{
    width: 20%;
   margin-top: 8%;
    
   }
   .subtitle{
   
    text-align: center;
    padding: 5%;
    font-size: 100%;

   }
   .container-subtitle{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .slogan{
    display: flex;
    flex-direction: column;
   }
   .button{
    
   }