* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'UniversLTStd',Arial, sans-serif ;
  }

  .square-linktree{
    display: flex;
    
    background-color: #ffff;
    padding: 5%;
    flex-direction: column
    
    ;
  }
  .text-square-linktree{
    display: flex;
    flex-direction: column;
  }
   