/*@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

  
#root{
  display: flex;
}
/* Archivo app.css */


h1 {
  font-family: 'Univers-light-normal';
}
h2{
  font-family: 'UniversLTStd';
  color: #E23812;
  font-size: 3.0em;
  text-align: center;
  padding: 5%;
  padding-left: 8%;
  padding-right: 8%;
}

.square-subscription{
  background-color: #fade61;
  width:100%;
  height: 40%;
}
.btn-subscription{

}
